/*--------Confirm page-------*/

hr{
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid black;
    margin: 1em 0;
    padding: 0;
}
.confirm-wrap{
    display: block;
    margin: 5vw 5vw;
    text-align: center;
}
p{
    font-size: .7em;
    font-weight: normal;
}
.all{
    display: flex;
    margin-top: 10vw;    
    justify-content: center;
}