/* ------------- HTML document styling -------------- */

*
{
  margin: 0;
  padding: 0;  
  font-size: 2vw;  
}

/* ------------- HTML body styling ------------- */

html, body
{
  width: 100%;
  font-family: 'Verdana', sans-serif;    
}

/* ------------- Header styling ------------- */

header
{
  display: flex;
  justify-content: space-between;
  align-items: center; 
  background-color: darkblue;
  width: 100%;
  height: 5vw;
  box-shadow: 0vw 0.3vw 2.5vw 1vw #000000;
  letter-spacing: 0.4em;
}

.logo
{  
  height: 4vw;
  width: 4vw;  
  background: darkblue;
  margin-right: 1vw;
}

.company-name
{
  color: white;
  font-size: 1rem;
}

/* -------------- Header/Menu button styling ----------------- */

.btn
{
  top: 0;
  right: 0;
  height: 3.5vw;
  width: 3.5vw;
  margin-left: 1vw;
  background: darkblue;  
}

/* -------------  Header/Hide menu ----------- */

.menu
{
  display: none;
}

/* -------------------  Menu styling --------------- */

@media (min-width: 1201px)
{
  .open-menu
  {  
    height: 100vh;
    width: 25%;
    background: darkblue;
    display: flex;  
    position: absolute;
    left: 0px;
    top: 5vw;
    padding-left: 1vw;      
  }

  .open-menu ul li a
  {
    text-decoration: none; 
    font-size: 1rem;  
    color: white;
    font-family: 'Arial', sans-serif;
    letter-spacing: 0.2rem;  
  }
}

@media (min-width: 801px) and (max-width: 1200px)
{
  .open-menu
  {  
    height: 100vh;
    width: 35%;
    background: darkblue;
    display: flex;  
    position: absolute;
    left: 0px;
    top: 5vw;
    padding-left: 1vw;      
  }

  .open-menu ul li a
  {
    text-decoration: none; 
    font-size: 1.5rem;  
    color: white;
    font-family: 'Arial', sans-serif;
    letter-spacing: 0.2rem;  
  }
}

@media (max-width: 800px)
{
  .open-menu
  {  
    height: 100vh;
    width: 45%;
    background: darkblue;
    display: flex;  
    position: absolute;
    left: 0px;
    top: 5vw;
    padding-left: 1vw;      
  }

  .open-menu ul li a
  {
    text-decoration: none; 
    font-size: 2rem;  
    color: white;
    font-family: 'Arial', sans-serif;
    letter-spacing: 0.2rem;  
  }
}

.open-menu ul
{
  display: flex;  
  flex-direction: column;  
}

.open-menu ul li
{
  list-style: none;
  padding: 0.5vw;
  margin: 2vw; 
}

.open-menu ul li a:hover
{
  border-bottom: 2px solid #ffffff;  
}

/* -------- Main block ---------- */

main{
  position: relative;
  z-index: -1;    
}
/* ------- Main/Picture and Motto ------- */

.motto
{ 
  max-width: 1200px;
  margin: 0 auto;
  letter-spacing: 0.4em;    
}

.motto img
{
  height: auto;
  width: 100%;

}

@media (min-width: 1401px)
{
  .motto h1 
  {
    position: absolute;
    font-size: 3vw;
    color: white;
    top: 10vw; 
    left: 32vw;
    text-align: center;  
  }
}

@media (min-width: 1201px) and (max-width: 1400px)
{
  .motto h1 
  {
    position: absolute;
    font-size: 3.5vw;
    color: white;
    top: 13vw; 
    left: 27vw;
    text-align: center;  
  }
}

@media (max-width: 1200px)
{
  .motto h1 
  {
    position: absolute;
    font-size: 4vw;
    color: white;
    top: 15vw; 
    left: 25vw;
    text-align: center;  
  }
}


/* --------Main/Content---------- */

@media (min-width: 1201px)
  {
  .content 
  {
    max-width: 1200px;
    margin: auto;
    
  }

  .content h1 
  {
    font-size: 1.3rem;
    margin: 0.5rem auto;
  }
}

@media (max-width: 1200px)
{
  .content 
  {
    max-width: 95%;
    margin: auto;
    
  }

  .content h1 
  {
    font-size: 2rem;
    margin: 0.5rem auto;
  }

}

@media (min-width: 1401px) 
{
  .content div h3 u
  {
    color: green;
    font-size: 1rem; 
  }

  .content div h4
  {  
    margin-bottom: 1rem;
    font-size: 0.7rem;  
  }

  .content div p, strong
  {
    font-size: 0.7rem;
  }  
}

@media (min-width: 1201px) and (max-width: 1400px)
{
  .content div h3 u
  {
    color: green;
    font-size: 1rem; 
  }

  .content div h4
  {  
    margin-bottom: 1rem;
    font-size: 1rem;  
  }

  .content div p, strong
  {
    font-size: 1rem;
  }    
}

@media (min-width: 801px) and (max-width: 1200px)
{
  .content div h3 u
  {
    color: green;
    font-size: 1.5rem; 
  }

  .content div h4
  {  
    margin-bottom: 1rem;
    font-size: 1rem;  
  }

  .content div p, strong
  {
    font-size: 1rem;
  }
}

@media (max-width: 800px)
{
  .content div h3 u
  {
    color: green;
    font-size: 2rem; 
  }

  .content div h4
  {  
    margin-bottom: 1rem;
    font-size: 1.3rem;  
  }

  .content div p, strong
  {
    font-size: 1.3rem;
  }
}

.content div 
{
  margin: 2rem auto;
}

.content div h3
{  
  margin-bottom: 1rem;  
}
